<div class="navbar navbar-default navbar-fixed-right visible-lg">
  <audio media-player="mediaPlayer" data-playlist="player.getQueue()">
  </audio>
  <div class="player-control">
    <div class="btn" ng-click="mediaPlayer.prev()">
      <i class="fa fa-2x fa-step-backward"></i>
    </div>
    <div class="btn" ng-click="mediaPlayer.playPause()">
      <i class="fa fa-4x" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play-circle-o': !mediaPlayer.playing }"></i>
    </div>
    <div class="btn" ng-click="mediaPlayer.next()">
      <i class="fa fa-2x fa-step-forward"></i>
    </div>
    <div class="time" ng-show="mediaPlayer.formatTime">
      <span>{{ mediaPlayer.formatTime }}</span><b>/</b><span>{{ mediaPlayer.formatDuration }}</span>
    </div>
    <div class="progress"
         ng-click='console.log("i seek to " + (mediaPlayer.duration * seekPercentage($event))); mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))'>
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
           ng-style="{ width: mediaPlayer.currentTime * 100 / mediaPlayer.duration + '%' }"></div>
    </div>
  </div>
  <div class="player-buttons">
    <div class="pull-left">
      <button type="button" class="btn btn-primary" ng-click='console.log("I should now save the playlist")'>
        <i class="fa fa-floppy-o"></i> Save
      </button>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-warning" ng-click="player.clear()">
        <i class="fa fa-times"></i> Clear
      </button>
    </div>
  </div>
  <ul class="list-unstyled" sv-root sv-part="queue">
    <li ng-repeat="item in queue track by item._id" sv-element="opts">
      <div class="media">
        <div class="pull-left">
          <span sv-handle class="draggable-icon">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
          </span>
          <a ng-click="mediaPlayer.play($index)" href="javascript:void(0)">
            <!-- can possibly be done more "beautiful" -->
            <img class="small-albumart-active img-rounded"
                 ng-if="$index === mediaPlayer.currentTrack - 1"
                 ng-src="{{ item.cover ? ('/song/' + item.cover + '/cover') : 'assets/no_cover.jpg'}}">

            <img class="small-albumart img-rounded"
                 ng-if="$index !== mediaPlayer.currentTrack - 1"
                 ng-src="{{ item.cover ? ('/song/' + item.cover + '/cover') : 'assets/no_cover.jpg'}}">
          </a>
        </div>
        <div class="pull-right">
          <ul class="queue-action-list">
            <li ng-click="player.removeSong($index); player.play($index);">
              <i class="fa fa-times"></i>
            </li>
          </ul>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ item.title || "Unknown Track" }}</h4>
          <div>{{ item.artist || "Unknown Artist" }}</div>
          <div>{{ item.album }}</div>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="player.getQueue().length == 0" style="text-align: center">
    <h4>Your playlist is empty</h4>
  </div>
</div>