# nodejs
.idea/*
.vagrant/*
node_modules/
build/
/app/
*.log
.ssh/*

/upload/*

# ngBoilderplate
*.sw*
*~
!vendor/
vendor/*
!vendor/placeholders/

# OS X
.DS_Store
.Spotlight-V100
.Trashes

# Tests
/test/data/export/
/out/
/frontend_coverage/