doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Songster
    p
        a(href='login') Login
    p
        a(href='logout') Logout
    p
        a(href='account') Account (needs to be logged in)
    block content