extends layout

block head
    link(rel='stylesheet', href='bootstrapvalidator/css/bootstrapValidator.min.css')
    script(src='bootstrapvalidator/js/bootstrapValidator.min.js')
    script(type='text/javascript' src='js/zxcvbn-async.js')

block content
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
        .panel.panel-default
            .panel-heading
                h1.panel-title Please register
            .panel-body
                form(id="form-register" method="post")
                    .form-group
                        input.form-control(type='text', placeholder='Username', name='username', id='username')
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="text", name="first_name", id="first_name" placeholder='First Name')
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="text", name="last_name", id="last_name" placeholder='Last Name')
                    .form-group
                        input.form-control(type="email", name="email", id="email", placeholder='E-Mail Address')
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="password" name="password" id="password", placeholder='Password')
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="password" name="confirm_password" id="confirm_password", placeholder='Confirm Password')
                    .progress
                        .progress-bar.bar-custom(id='progressbar' role='progressbar' aria-valuenow='40' aria-valuemax='100' aria-valuemin='0' style='width: 0%' )
                    .form-group
                        button.form-control(type="submit" class='btn btn-custom' id='register') Register
                .alert.alert-danger(role='alert')
                    span.sr-only Error:
                    span(id='error_message') #{message}
                    script.
                        if($('#error_message').text() == "") {
                            $('.alert-danger').hide();
                        } else {
                            $('.alert-danger').show();
                        };

                        $('#password').keyup(function() {
                           var text = ['Weak Password', 'Weak', 'Medium', 'Strong', 'Very Strong'];
                           var color = ['red', 'red', 'yellow', 'yellow','green'];
                           var textcolor = ['red', 'white', 'black', 'black', 'white'];
                           var textValue = $(this).val();
                           var result = zxcvbn(textValue);
                           var bar = $('#progressbar');
                           bar.css('width', 25*result.score + '%');
                           bar.css('background-color', color[result.score]);
                           bar.css('color', textcolor[result.score]);
                           bar.text(text[result.score]);
                        });

                        $(document).ready(function(){
                            $('#form-register').bootstrapValidator({
                                feedbackIcons: {
                                    valid: 'glyphicon glyphicon-ok',
                                    invalid: 'glyphicon glyphicon-remove',
                                    validating: 'glyphicon glyphicon-refresh'
                                },
                                live: 'enabled',
                                submitButtons: 'button[type=submit]',
                                fields: {
                                    username: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The username is required'
                                            }
                                        }
                                    },
                                    first_name: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The first name is required'
                                            }
                                        }
                                    },
                                    last_name: {
                                       validators: {
                                           notEmpty: {
                                               message: 'The last name is required'
                                           }
                                       }
                                   },
                                   email: {
                                      validators: {
                                          notEmpty: {
                                              message: 'The email address is required'
                                          },
                                          emailAddress: {
                                             message: 'The input is not a valid email address'
                                          }
                                      }
                                   },
                                   password: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The password is required'
                                            },
                                            identical: {
                                                field: 'confirm_password',
                                                message: 'The password and its confirm are not the same'
                                            }
                                        }
                                    },
                                    confirm_password: {
                                       validators: {
                                           notEmpty: {
                                                message: 'The password is required'
                                            },
                                           identical: {
                                               field: 'password',
                                               message: 'The password and its confirm are not the same'
                                           }

                                       }
                                   }
                                }
                            });
                        });





