<div ng-controller="VotingCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Votes
            </h2>
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th></th>
                </tr>
                <tr ng:repeat="vote in votes">
                    <td>{{ vote.song.title || "-" }}{{song}}</td>
                    <td>{{ vote.song.artist || "-" }}</td>
                    <td >
                        <div class="pull-right">
                            <span class="badge badge-info">{{ vote.value || "0"}}</span>
                            <div class="btn-group" role="group">
                                <button data-ng-disabled="action.disabled(vote.song)" ng-repeat="action in actions" title="{{action.title}}" ng-click="action.fn(vote.song)" class="{{action.class}}"><i class="fa" ng-class="action.icon"></i> {{action.text}}</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>