body {
  margin:5em;
}


a {
    color: #00B7FF;
}

.btn-custom {
    color: #ffffff;
    background-color: #3278b3;
    border-color: #2a6496;
}

.btn-custom:hover {
    color: #ffffff;
    background-color: #245269;
}