<div ng-show="previewEnabled && nextSongs && nextSongs.length > 0">
    <h2>
        Upcoming Songs
    </h2>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th></th>
        </tr>
        <tr ng:repeat="song in nextSongs track by $index">
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            <td> <div class="pull-right" ng-controller="VoteController" >
              <span class="badge badge-info">{{ getVotesForSong(song) || "0"}}</span>
            </div></td>
        </tr>
    </table>
</div>
<div ng-if="currentSong">
    <h2>
        Current Song
    </h2>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        <tr>
            <td>{{ currentSong.title }}</td>
            <td>{{ currentSong.artist }}</td>
            <td>{{ currentSong.album }}</td>
        </tr>
    </table>
</div>
<div ng-if="!currentSong">
    <h2>
        No song is playing right now
    </h2>
</div>
<div ng-if="lastSongs && lastSongs.length > 0">
    <h2>
        Previous Songs
    </h2>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        <tr ng:repeat="song in lastSongs track by $index">
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
        </tr>
    </table>
</div>
