<div>
    <h1>Start your event!</h1>
    <!-- Layout http://getbootstrap.com/css/#forms-horizontal -->
    <form name="eventinfo" class="form-horizontal">
        <div class="form-group">
            <label for="inputEventName" class="col-sm-2 control-label">Event name</label>
            <div class="col-sm-10">
                <input id="inputEventName" type="text" name="eventname" ng-model="editEvent.name" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="inputDescription" type="text" name="description" ng-model="event.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="editEvent.votingEnabled"/> Voting
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="editEvent.suggestionEnabled"/> Suggestions
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="editEvent.previewEnabled"/> Preview
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="startEvent()" ng-disabled="eventinfo.$invalid" class="btn btn-default">Start Event!</button>
            </div>
        </div>
    </form>

</div>