<div>
    <div class="page-header">
        <h1>
            <i class="fa fa-bullhorn"></i> {{event.name}}
        </h1>
    </div>

    <so-authorize should-be="isDj()">
        <div class="well">
            <p>Welcome DJ. This is your event and you are live ON AIR!</p>
            <button ng-click="endEvent()" class="btn btn-primary">Stop Broadcast</button>
        </div>
    </so-authorize>

    <tabset>
        <tab>
            <tab-heading>
                Home
            </tab-heading>
            <div ng-include="'event/event-detail-home.tpl.html'"></div>
        </tab>
        <tab ng-if="!event.end">
            <tab-heading>
                Playlist
            </tab-heading>
            <so-event-songs event-id="event._id"></so-event-songs>
        </tab>
        <tab ng-if="!event.end">
            <tab-heading>
                Votings
            </tab-heading>
            <div ng-include="'event/event-detail-votings.tpl.html'"></div>
        </tab>
        <tab ng-if="!isDj() && !event.end">
            <tab-heading>
                Suggestion
            </tab-heading>
            <div ng-include="'event/event-detail-suggestions.tpl.html'"></div>
        </tab>
        <tab ng-if="!!event.end">
            <tab-heading>
                Event-History
            </tab-heading>
        <so-event-history event-id="event._id"></so-event-history>
        </tab>
    </tabset>
</div>