<div>
    <table class="table">
        <tr ng-if="event.description">
            <td>Description</td>
            <td>{{event.description}}</td>
        </tr>
        <!--<tr>-->
            <!--<td>Voting</td>-->
            <!--<td>{{event.votingEnabled ? 'enabled' : 'disabled'}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Suggestions:</td>-->
            <!--<td>{{event.suggestionEnabled ? 'enabled' : 'disabled'}}</td>-->
        <!--</tr>-->
        <tr ng-if="$root.isDj()">
            <td>Users can see next songs</td>
            <td>
                <i class="fa fa-check" ng-if="event.previewEnabled"></i>
                <i class="fa fa-ban" ng-if="!event.previewEnabled"></i>
            </td>
        </tr>
        <tr>
            <td>Started</td>
            <td>{{event.start | date: 'd.M.y H:m'}}</td>
        </tr>
        <tr ng-if="$root.isDj() && !!event.end">
            <td>Delete Event</td>
            <td>
                <button ng-click="deleteEvent(event)" class="btn btn-xs">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Short Link</td>
            <td>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </td>
        </tr>
        <tr>
            <td>QR-Code</td>
            <td>
                <img src={{qrLink}} alt="QR-Code" class="img-responsive img-qr">
            </td>
        </tr>
    </table>
</div>
