<div>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{event.name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{event.description}}</td>
        </tr>
        <!--<tr>-->
            <!--<td>Voting</td>-->
            <!--<td>{{event.votingEnabled ? 'enabled' : 'disabled'}}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Suggestions:</td>-->
            <!--<td>{{event.suggestionEnabled ? 'enabled' : 'disabled'}}</td>-->
        <!--</tr>-->
        <tr>
            <td>Users can see next songs</td>
            <td>{{event.previewEnabled ? 'enabled' : 'disabled'}}</td>
        </tr>
        <tr>
            <td>Started</td>
            <td>{{event.start | date: 'd.M H:m'}}</td>
        </tr>
        <tr ng-if="!!event.end">
            <td>Delete Event</td>
            <td>
                <button ng-click="deleteEvent(event)" class="btn btn-xs">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Public link</td>
            <td><a href="{{generatePublicLink(event)}}">{{generatePublicLink(event)}}</a></td>
        </tr>
        <tr>
            <td>Short Link:</td>
            <td>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </td>
        </tr>
        <tr>
            <td>QR-Code:</td>
            <td>
                <img src={{qrLink}}/>
            </td>
        </tr>
    </table>
</div>
