<div class="row" ng-controller="UploadCtrl">
    <div class="page-header">
        <h1><i class="fa fa-cloud-upload"></i> Upload</h1>
    </div>

    <div>
        <input type="text" ng-model="myModelObj" style="display: none">
        <!--
          Multi-file picker for upload
        <input type="file" ng-file-select="onFileSelect($files)" multiple accept="audio/*">
        -->

        <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
        <div id="drop-zone" class="upload-drop-zone" ng-file-drop="onFileSelect($files)"
             ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported">
            Just drag and drop files here
        </div>
        <div id="no-drop-zone" class="upload-drop-zone" ng-file-drop-available="dropSupported=true"
             ng-show="!dropSupported">HTML5 Drop File is not supported!
        </div>
    </div>
    <h2>Upload Queue</h2>
    <!-- Upload Finished -->
    <div class="js-upload-finished">
        <div class="list-group" ng:repeat="file in uploadedFiles">
            <a ng-if="file.finished" href="javascript:void(0)" ng-click="remove(uploadedFiles, $index)"
               class="list-group-item list-group-item-success">
                <span class="badge alert-success pull-right">Upload complete</span>{{ file.name }}
            </a>
            <a ng-if="!file.finished" href="javascript:void(0)" ng-click="remove(uploadedFiles, $index)"
               class="list-group-item list-group-item-info">
                <span class="badge alert-info pull-right">Upload in progress</span>{{ file.name }}
            </a>
        </div>
        <div ng-if="!uploadedFiles || uploadedFiles.length == 0">No files.</div>
    </div>
</div>