<div class="row" ng-controller="UploadCtrl">
  <h1 class="page-header">
    Upload form
    <small>by Thomas</small>
  </h1>
  <h2>Upload new files</h2>

  <div>
    <input type="text" ng-model="myModelObj" style="display: none">
    <!--
      Multi-file picker for upload
    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="audio/*">
    -->

    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
    <div id="drop-zone" class="upload-drop-zone" ng-file-drop="onFileSelect($files)"
         ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported">
      Just drag and drop files here
    </div>
    <div id="no-drop-zone" class="upload-drop-zone" ng-file-drop-available="dropSupported=true"
         ng-show="!dropSupported">HTML5 Drop File is not supported!
    </div>
    </div>
  <h2>All files</h2>
  <!-- Upload Finished -->
  <div class="js-upload-finished">
    <div class="list-group" ng:repeat="file in uploadedFiles">
      <a ng-if="file.finished" href="javascript:void(0)" ng-click="remove(uploadedFiles, $index)"
         class="list-group-item list-group-item-success">
        <span class="badge alert-success pull-right">Upload complete</span>{{ file.name }}
      </a>
      <a ng-if="!file.finished" href="javascript:void(0)" ng-click="remove(uploadedFiles, $index)"
         class="list-group-item list-group-item-info">
        <span class="badge alert-info pull-right">Upload in progress</span>{{ file.name }}
      </a>
    </div>
    </div>
  <table class="table table-striped">
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Year</th>
      <th>File</th>
      <th>Add</th>
    </tr>
    <tr ng:repeat="song in songs">
      <td ng-if="song.cover"><img src="/song/{{ song.cover }}/cover"></td>
      <td ng-if="!song.cover">No cover available</td>
      <td>{{ song.title }}</td>
      <td>{{ song.artist }}</td>
      <td>{{ song.album }}</td>
      <td>{{ song.year }}</td>
      <td><a href="/song/{{ song.file_id }}/raw">Play raw</a></td>
      <td><a ng-click="player.addFirst(song)">+</a></td>
    </tr>
  </table>
</div>